

   /*  google fornt link */
   @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


      /* common code starts  */

        *{
             margin: 0;
             padding: 0;
             box-sizing: border-box;
        }

        ul, ol{
              list-style-type: none;
        }

         a{
             text-decoration: none;
         }

       
      /*  common code ends  */



      /* banner starts  */

        .banner{
              width: 100%;
               height: 520px;
                background-image: url('../assets/Hero-bg.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 74px;
        }

   .banner  .banner__details{
     width: 700px;
     height: auto;
 text-align: center;

   }

   .banner .banner__img{

   }

   .banner .banner__title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 800;
    line-height: 45px;
    text-align: center;
    margin: 24px 0;
   }

   .banner .banner__desc{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  margin-bottom: 24px;
    text-align: center;
   }

   .banner .banner__button button{
   width: 180px;
   height: 50px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
  border: none;
    text-transform: lowercase;
   }

      /* banner ends  */



      /* web magic section starts   */

      .web__magic{
         width: 852px;
         margin: 0 auto;

      }


      .web__magic .web__codding__info{
         width: 500px;
      }

         .web__magic .web__title h3{
            color: rgb(13, 19, 33);
            font-family: Azeret Mono;
            font-size: 32px;
            font-weight: 800;
            line-height: 37px;
            letter-spacing: 0%;
            text-align: center;
         }


         .web__magic .web__title_desk{
             
            color: rgb(13, 19, 33);
            font-family: Azeret Mono;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: center;
            margin: 24px 0 100px;
         }


         .web__codding{
             display: flex;
             justify-content: space-between;
            margin-bottom: 100px;
         }

         .web__codding h4{
            color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
         }

         .web__codding p{
            color: rgb(13, 19, 33);
            font-family: Azeret Mono;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: left;
              margin: 20px 0;
         } 

         .web__codding button{
            color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
            border: 1px solid rgb(13, 19, 33);
            opacity: 0.7;
            padding: 12px;
            
         }


      /* web magic section ends  */