

   /*  google fornt link */
   @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


      /* common code starts  */

        *{
             margin: 0;
             padding: 0;
             box-sizing: border-box;
        }

        ul, ol{
              list-style-type: none;
        }

         a{
             text-decoration: none;
         }

         .container{
            width: 852px;
            margin: 0 auto;}

       
      /*  common code ends  */



      /* banner starts  */

        .banner{
              width: 100%;
               height: 520px;
                background-image: url('../assets/Hero-bg.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 74px;
        }

   .banner  .banner__details{
     width: 700px;
     height: auto;
 text-align: center;

   }

   .banner .banner__img{

   }

   .banner .banner__title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 800;
    line-height: 45px;
    text-align: center;
    margin: 24px 0;
   }

   .banner .banner__desc{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  margin-bottom: 24px;
    text-align: center;
   }

   .banner .banner__button button{
   width: 180px;
   height: 50px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
  border: none;
    text-transform: lowercase;
   }

      /* banner ends  */



      /* web magic section starts   */

      .web__magic{
         border-radius: 16px;

         background: rgba(13, 19, 33, 0.02);
         padding: 80px 90px;
      }


      .web__magic .web__codding__info{
         width: 400px;
      }

         .web__title h3{
            color: rgb(13, 19, 33);
            font-family: Azeret Mono;
            font-size: 32px;
            font-weight: 800;
            line-height: 37px;
            letter-spacing: 0%;
            text-align: center;
         }


         .web__title_desk{
             
            color: rgb(13, 19, 33);
            font-family: Azeret Mono;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: center;
            margin: 24px 0 100px;
         }


         .web__codding{
             display: flex;
             justify-content: space-between;
            margin-bottom: 100px;
            border-radius: 16px;

background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
padding: 30px;
         }

         .web__codding h4{
            color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
         }

         .web__codding p{
            color: rgb(13, 19, 33);
            font-family: Azeret Mono;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: left;
              margin: 20px 0;
         } 

         .web__codding button{
            color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
            border: 1px solid rgb(13, 19, 33);
            opacity: 0.7;
            padding: 12px;
            
         }


      /* web magic section ends  */


        .inspiration__section{
             margin: 110px 0;
        }

      .inspiration__details{
        border: 1px solid rgba(13, 19, 33, 0.2);
        border-radius: 16px;
        padding: 20px;
      }

      .inspiration__details iframe{
         width: 100%;
         height: 550px;
      }



      /* skill section starts  */

          .skill__cards{
             display: flex;
          }

          .skill__card{
             width: 300px;
            border-radius: 16px;

            background: rgba(255, 76, 30, 0.05);
            padding: 30px;
            margin-left: 20px;
          }

          .skill__img{}

          .skill__title{
            color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
text-align: left;
text-transform: uppercase;
margin: 15px 0 8px;
          }

          .skill__desc{
            color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
          }
          .skill__btn{
            color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
margin-top: 20px;
          }

          .skill__btn a{
            color: rgb(13, 19, 33);
          }
      /*  skill section ends  */